{% extends "layout.html" %}

{% block title %}
    Music Mindspace
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/login-register.css">    
{% endblock %}

{% block main %}

    <div class="login-container">
        <div class="logo">
            <img src="/static/guitar.png" alt="Guitar Mindspace Logo">
        </div>
        <h1 class="login-title">Login</h1>
        
        <!-- Display error messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="error-messages">
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="error-message">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <form action="/login" method="POST" class="login-form">
            <input type="text" name="username" placeholder="Username" required class="login-input">
            <input type="password" name="password" placeholder="Password" required class="login-input">
            <button type="submit" class="login-button">Login</button>
        </form>
        <div class="login-footer">
            <p>Don't have an account? <a href="/register" class="register-link">Sign up</a></p>
        </div>
    </div>

{% endblock %}
