    {% extends "layout.html" %}

    {% block title %}
        Music Mindspace
    {% endblock %}

    {% block main %}

        <a href="/logout">
            <div class="account">
                <i class="account-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </i>
                <h3>Log out</h3>
            </div>
        </a>

        <div class="sidebar">
            <div class="img-container">
                <img src="/static/guitar.png"  alt="logo" class="guitar">
            </div>
            

            <div class="inner">
                
                <div id="search-box" class="search-box">
                    <i class="search-icon" id="search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </i>
                    <input type="text" placeholder="Search song" id="search" autocomplete="off"  class="search">
                    <i class="add" id="add">
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" id="plus-search" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </i>
                </div>
                {% set class = 'song-box' %}
                {% for i in range( length ) %}
                    
                    {% if i == 0 %}
                        <a href="{{url_for('song_page', id=song[0]['song_id'])}}" style="text-decoration: none;">
                            <div class="first-song">
                                {% if request.view_args['id'] == song[0]['song_id'] %}
                                    {% set class = 'if-song-box' %}
                                {% endif %}
                                <div  class="{{class}}">
                                    {% set image = song[i]['background_url'] %}
                                    {% if image %}
                                    <div class="img-container-song" style="background-image: url('{{image}}');">
                                    </div>
                                    <div class="info">
                                        <h1 data-title="{{song[0]['title'] | lower}}"> {{ song[0]['title']}}</h1>
                                        <span class="description-song-box"> {{ song[0]['description']}}</span>
                                    </div>
                                    {% else%}
                                    <div class="img-container-song" style="background-image: url('/static/teste1.png');">
                                    </div>
                                    <div class="info">
                                        <h1 data-title="{{song[0]['title'] | lower}}"> {{ song[0]['title']}}</h1>
                                        <span class="description-song-box"> {{ song[0]['description']}}</span>
                                    </div>
                                    {% endif %}
                                    
                                </div> 
                                
                            </div>
                        </a>
                    {% endif %}
                    {% if i != 0 %}
                        <a data-title="{{song[i]['title'] | lower}}" href="{{url_for('song_page', id=song[i]['song_id'])}}" style="text-decoration: none;">
                            <div class="song">
                                {% if request.view_args['id'] == song[i]['song_id'] %}
                                    {% set class = 'if-song-box' %}
                                {% endif %}
                                <div  class="{{class}}" >
                                    {% set image = song[i]['background_url'] %}
                                    {% if image %}
                                    <div class="img-container-song" style="background-image: url('{{image}}');">
                                    </div>
                                    <div class="info">
                                        <h1 data-title="{{song[i]['title'] | lower}}"> {{ song[i]['title']}}</h1>
                                        <span class="description-song-box"> {{ song[i]['description']}}</span>
                                    </div>
                                    {% else %}
                                    <div class="img-container-song" style="background-image: url('/static/teste1.png');">
                                    </div>
                                    <div class="info">
                                        <h1 data-title="{{song[i]['title'] | lower}}"> {{ song[i]['title']}}</h1>
                                        <span class="description-song-box"> {{ song[i]['description']}}</span>
                                    </div>

                                    {% endif %}

                                </div> 
                                
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}

            </div>   
        </div>
        <main>
            
            <div class="main">
                <div class="inner-main">
                    {% for background in backgrounds %}
                        {% if url %}
                            <div class="background" style="background-image: url('{{url}}'); " id="background-{{ background["id"] }}">
                                <input type="file" class="upload" data-background-id="{{ background["id"] }}">
                            </div>
                        {% else %}
                        <div 
                            class="background" 
                            style="background-image: url( '/static/teste1.png' );"
                            id="background-{{ background["id"] }}">
                            <input type="file" class="upload" data-background-id="{{ background["id"] }}">
                        </div>
                        {% endif %}
                    {% endfor %}
                    <div class="title-box">
                        <h1 id="title">{{ title }}</h1>
                        <div class="separate">
                            <i id="edit-icon" class="icon"> 
                                <svg xmlns="http://www.w3.org/2000/svg" id="icon" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                            </i>
                            <form action="/song_page/{{request.view_args['id']}}" method="post">
                                <button type="submit" style="background-color: transparent; border: none;">
                                    <i class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" id="delete-song" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                        </svg>
                                    </i>
                                </button>
                            </form>
                        </div>    
                    </div>

                    <div class="below-title">
                        <div class="description-box">
                            <p id="description" class="description">{{ description }}</p>  
                        </div>
                        
                        <div class="video">
                            <h2 class="upload-video">Upload Video</h2>
                        
                            <div style="display: flex; flex-direction: row; width: 440px;">
                                {% if youtube %}
                                    <div class="upload-video-square-increase">
                                        <i class="play">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="play" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                            </svg>
                                        </i>
                                        <!-- YouTube player -->
                                        {% if video %}
                                            <div id="videoContainer" style="display: flex;">
                                                <iframe id="youtubePlayer" class="youtubePlayer" src="" width="640" height="360" frameborder="0" style="display: none;" allowfullscreen></iframe>
                                                <video id="youtubePlayer2" class="youtubePlayer" src="{{ video }}" width="640" height="360" frameborder="0" style="display: flex;" controls allowfullscreen></video>
                                            </div>
                                        {% endif %}
                                        {% if youtube %}
                                            <div id="videoContainer" style="display: flex;">
                                                <iframe id="youtubePlayer" class="youtubePlayer" src="{{youtube}}" width="640" height="360" frameborder="0" style="display: flex" allowfullscreen></iframe>
                                                <video id="youtubePlayer2" class="youtubePlayer" src="" width="640" height="360" frameborder="0" style="display: none;" controls allowfullscreen></video>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                <div class="upload-video-square">
                                    <i class="play">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="play" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                        </svg>
                                    </i>

                                    <!-- YouTube player -->
                                    <div id="videoContainer" style="display: none;">
                                        <iframe id="youtubePlayer" class="youtubePlayer" src="" width="640" height="360" frameborder="0" style="display: none;" allowfullscreen></iframe>
                                        <video id="youtubePlayer2" class="youtubePlayer" src="" width="640" height="360" frameborder="0" style="display: none;" controls allowfullscreen></video>
                                    </div>
                                </div>
                                {% endif %}
                                
                                <div style="display: flex; height: min-content; gap: 5px;">
                                    {% if video or youtube %}

                                        <input type="text" class="url-input-reposition-appear" id="youtubeURL2" placeholder="Enter YouTube URL">
                                        <button class="url-input-button-reposition-appear" onclick="embedYouTube2()">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="embed-video" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                            </svg>
                                        </button>
                                        <input type="file" id="upload-video-reposition" class="select-file-reposition" style="opacity: 1;">

                                        {% else %}

                                        <input type="text" class="url-input-reposition" id="youtubeURL2" placeholder="Enter YouTube URL">   
                                        <button class="url-input-button-reposition" onclick="embedYouTube2()">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="embed-video" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                            </svg>
                                        </button>
                                        <input type="file" id="upload-video-reposition" class="select-file-reposition">

                                        <input type="text" class="url-input" id="youtubeURL" placeholder="Enter YouTube URL">
                                        <button class="url-input-button" onclick="embedYouTube()">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="embed-video" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                            </svg>
                                        </button>
                                        <input type="file" id="upload-video" class="select-file">
                                    {% endif %}

                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="below-description">
                        <h1>Sheet musics</h1>
                    
                        <div class="sheets">
                            <!-- Add new sheet button -->
                            <div class="sheet-container-add">
                                <i class="add">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="plus-search" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                    </svg>
                                </i>
                                <input type="file" class="uploadSheet" data-song-id="{{ song_id }}" style="display: none;" />
                            </div>
                    
                            <!-- Existing sheets -->
                            {% for sheet in sheets %}
                            <div class="sheet-container">
                                <div class="sheet-img" style="background-image: url('{{ sheet.sheet_url }}');"></div>
                                <!-- Delete sheet icon -->
                                <i class="icon-sheet delete-sheet" data-sheet-id="{{ sheet.sheet_id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="delete-song" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg>
                                </i>
                            </div>
                            {% endfor %}
                            
                            <div class="focused">
                                {% for sheet in sheets %}
                                    <div class="focused-sheet" style="background-image: url('{{ sheet.sheet_url }}');"></div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    

                </div>
                
                <form action="/edit/{{request.view_args['id']}}" class="edit-form" method="post">
                    <div id="pop" class="pop">
                        <div id="edit-pop" class="edit-pop">  
                            <i id="close-icon" class="close-icon">
                                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </i>

                            <h1>Title</h1>
                            <input name="title" class="edit" id="edit-title" placeholder="Edit the title" type="text">
                            <span id="maximum" class="maximum">Maximum number of characters reached</span>
                            
                            <h1>Description</h1>
                            <input name="description" class="edit" id="edit-description" placeholder="Edit the description" type="text">
                            <span id="maximum2" class="maximum2">Maximum number of characters reached</span>
                            <button id="save" type="submit" class="save">Save</button>
                                
                        </div>
                    </div>
                </form>    
                
            </div>

            <form action="/"  method="post">
                <div id="pop2" class="pop2">
                    <div id="edit-pop2" class="edit-pop2">  
                        <i id="close-icon2" class="close-icon">
                            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                            </svg>
                        </i>
                        
                        <h1>Title</h1>
                        <input class="edit2" id="edit-title2" placeholder="Title" name="title" type="text">
                        <span id="maximum" class="maximum">Maximum number of characters reached</span>
                        
                        <h1>Description</h1>
                        <input class="edit2" id="edit-description2" placeholder="Description" name="description" type="text">
                        <span id="maximum2" class="maximum2">Maximum number of characters reached</span>
                        
                        <button id="save" type="submit"  class="save">Add</button>
                    </div>
                </div>
            </form>

        </main>

        <script src="/static/index.js"></script>
        <script>
            let background = document.getElementById('background');
            let search_icon = document.getElementById('search-icon');
            let search = document.getElementById('search');
            let upload_video = document.getElementById("upload-video");
            let upload_video_reposition = document.getElementById("upload-video-reposition");
            const searchInput = document.getElementById("search");
            let upload = document.getElementById('upload');
            const upload_button = document.getElementById("upload-button")

            function embedYouTube() {
                const url = document.getElementById("youtubeURL").value;
                const videoContainer = document.getElementById("videoContainer");
                const youtubePlayer = document.getElementById("youtubePlayer");
                const youtubePlayer2 = document.getElementById("youtubePlayer2");
                const upload_video_square = document.querySelector(".upload-video-square");
                const url_input = document.querySelector(".url-input");
                const url_input_button = document.querySelector(".url-input-button");
                const url_input_reposition = document.querySelector(".url-input-reposition");
                const url_input_button_reposition = document.querySelector(".url-input-button-reposition");
                const below_description = document.querySelector('.below-description');

                // Extract the video ID from the YouTube URL
                const videoID = getYouTubeVideoID(url);
                const songId = window.location.pathname.split("/").pop(); 
                if (videoID) {
                    // Construct the embed URL
                    const embedURL = `https://www.youtube.com/embed/${videoID}`;
                    youtubePlayer.src = embedURL;

                    url_input.classList.toggle('url-input-disappear')
                    url_input_button.classList.toggle('url-input-button-disappear')
                    upload_video.style.opacity = 0;
                    upload_video_reposition.style.opacity = 1;

                    fetch(`/upload_video/${songId}`,{
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ video_url: embedURL }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error("Error saving video URL:", data.error);
                        } else {
                            console.log("Video URL saved successfully:", data.message);
                        }
                    })
                    .catch(error => {
                        console.error("Error sending video URL:", error);
                    });
                    
                    setTimeout(() => {
                        upload_video_square.classList.toggle('upload-video-square-increase');
                        upload_video_square.style.background = 'none';
                        videoContainer.style.display = "block";
                        youtubePlayer.style.display = "block";
                        youtubePlayer2.style.display = "none";
                    }, 1000);
                    setTimeout(() => {
                        url_input_reposition.classList.toggle('url-input-reposition-appear')
                        url_input_button_reposition.classList.toggle('url-input-button-reposition-appear')
                    }, 200);

                } else {
                    alert("Please enter a valid YouTube URL!");
                }
            }

            function embedYouTube2() {
                const url = document.getElementById("youtubeURL2").value;
                const videoContainer = document.getElementById("videoContainer");
                const youtubePlayer = document.getElementById("youtubePlayer");
                const youtubePlayer2 = document.getElementById("youtubePlayer2");
                const url_input = document.querySelector(".url-input");
                const url_input_button = document.querySelector(".url-input-button");
                const upload_video_square = document.querySelector(".upload-video-square");
                const url_input_reposition = document.querySelector(".url-input-reposition");
                const url_input_button_reposition = document.querySelector(".url-input-button-reposition");

                // Extract the video ID from the YouTube URL
                const videoID = getYouTubeVideoID(url);
                const songId = window.location.pathname.split("/").pop(); 

                upload_video_reposition.value = null;
                console.log(songId)

                if (videoID) {
                    // Construct the embed URL
                    const embedURL = `https://www.youtube.com/embed/${videoID}`;
                    youtubePlayer.src = embedURL;
                    
                    fetch(`/upload_video/${songId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ video_url: embedURL }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error("Error saving video URL:", data.error);
                        } else {
                            console.log("Video URL saved successfully:", data.message);
                        }
                    })
                    .catch(error => {
                        console.error("Error sending video URL:", error);
                    });

                    youtubePlayer2.src = '';
                    videoContainer.style.display = "block";
                    youtubePlayer.style.display = "block";
                    youtubePlayer2.style.display = "none";
                } else {
                    
                }
            }
            
            function getYouTubeVideoID(url) {
                // Regex to extract the YouTube video ID
                const regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:watch\?v=|embed\/)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;
                const match = url.match(regex);
                return match ? match[1] : null;
            }

            document.addEventListener('DOMContentLoaded', () => {

                const element_song_box = document.querySelectorAll('.song-box .info');
                const element_if_song_box = document.querySelector('.if-song-box .info');
                const song_box = document.querySelector('.song-box')
                const if_song_box = document.querySelector('.if-song-box')
                const searchInput = document.getElementById("search"); // Ensure this is defined

                searchInput.addEventListener('keyup', function () {
                    const infos = document.querySelectorAll('.info'); // Select all info divs
                    const searchValue = searchInput.value.toLowerCase(); // Get the value of the input and convert it to lowercase

                    infos.forEach((info) => {
                        const h1 = info.querySelector('h1'); // Find the h1 inside the current info div
                        const dataTitle = h1.getAttribute("data-title").toLowerCase(); // Get the data-title value and convert it to lowercase

                        const parentBox = info.closest('.song-box, .if-song-box'); // Get the closest parent container
                        
                        if (dataTitle.includes(searchValue)) {
                            info.style.display = 'block'; // Show the info div if it matches the search
                        } else {
                            info.style.display = 'none'; // Hide the info div if it doesn't match the search
                        }

                        // Check if all child `.info` elements inside the parent are hidden
                        const allHidden = Array.from(parentBox.querySelectorAll('.info'))
                            .every(childInfo => childInfo.style.display === 'none');

                        if (allHidden) {
                            parentBox.style.display = 'none'; // Hide the parent container if all children are hidden
                        } else {
                            parentBox.style.display = 'flex'; // Show the parent container if at least one child is visible
                        }
                    });
                });

                document.querySelectorAll('.upload').forEach(upload => {
                    upload.addEventListener('change', function () {
                        const backgroundId = this.getAttribute('data-background-id');
                        const file = this.files[0];
                        
                        if (file) {
                            // Update the background immediately in the browser
                            const fileURL = URL.createObjectURL(file);
                            document.getElementById(`background-${backgroundId}`).style.backgroundImage = `url(${fileURL})`;
                            document.querySelector('.if-song-box .img-container-song').style.backgroundImage = `url(${fileURL})`;


                            // Create a FormData object to send the file to the server
                            const formData = new FormData();
                            formData.append('file', file);
                            
                            // Send the file to the server via Fetch API
                            fetch(`/upload_background/${backgroundId}`, {
                                method: 'POST',
                                body: formData
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to upload the background.');
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Background updated successfully:', data.message);
                            })
                            .catch(error => {
                                console.error('Error updating background:', error);
                                alert('There was an error updating the background. Please try again.');
                            });

                        }
                    });
                });

                search_icon.addEventListener('click', function(){
                    search.focus();
                })
                
                if (upload_video_reposition){
                    upload_video_reposition.onchange = function (){
                        const fileURL = URL.createObjectURL(upload_video_reposition.files[0]);
                        const videoContainer = document.getElementById("videoContainer");
                        const youtubePlayer = document.getElementById("youtubePlayer");
                        const youtubePlayer2 = document.getElementById("youtubePlayer2");
                        const url_input = document.querySelector(".url-input");
                        const url_input_button = document.querySelector(".url-input-button");
                        const upload_video_square = document.querySelector(".upload-video-square");
                        const upload_video_square_increase = document.querySelector(".upload-video-square-increase");
                        const url_input_reposition = document.querySelector(".url-input-reposition");
                        const url_input_button_reposition = document.querySelector(".url-input-button-reposition");
                        
                        youtubePlayer2.src = fileURL;
                        console.log('aaa' + fileURL)

                        upload_video_reposition.style.opacity = 1;
                        videoContainer.style.display = "block";
                        youtubePlayer.style.display = "none";
                        youtubePlayer2.style.display = "block";

                        upload_video_reposition.value = null;
                        youtubePlayer.src = '';
                    }
                    
                }
                
                if (upload_video) {
                    upload_video.onchange = function (){
                        const fileURL = URL.createObjectURL(upload_video.files[0]);
                        const videoContainer = document.getElementById("videoContainer");
                        const youtubePlayer = document.getElementById("youtubePlayer");
                        const youtubePlayer2 = document.getElementById("youtubePlayer2");
                        const url_input = document.querySelector(".url-input");
                        const url_input_button = document.querySelector(".url-input-button");
                        const upload_video_square = document.querySelector(".upload-video-square");
                        const url_input_reposition = document.querySelector(".url-input-reposition");
                        const url_input_button_reposition = document.querySelector(".url-input-button-reposition");
                        url_input.classList.toggle('url-input-disappear')
                        url_input_button.classList.toggle('url-input-button-disappear')
                        upload_video.style.opacity = 0;
                        upload_video_reposition.style.opacity = 1;
                        
                        youtubePlayer2.src = fileURL;

                        setTimeout(() => {
                            upload_video_square.classList.toggle('upload-video-square-increase');
                        }, 500);
                        setTimeout(() => {
                            upload_video_square.style.background = 'none';
                            videoContainer.style.display = "block";
                            youtubePlayer.style.display = "none";
                            youtubePlayer2.style.display = "block";
                        }, 100);
                        setTimeout(() => {
                            url_input_reposition.classList.toggle('url-input-reposition-appear');
                            url_input_button_reposition.classList.toggle('url-input-button-reposition-appear');
                        }, 200);
                    }
                    
                }
                
                search_icon.addEventListener('click', function(){
                    search.focus();
                })
                
                const addButton = document.querySelector('.sheet-container-add');
                const uploadInput = addButton.querySelector('.uploadSheet');

                if (addButton && uploadInput) {
                    addButton.addEventListener('click', () => {
                        uploadInput.click(); // Simulate a click on the hidden file input
                    });
                }
                
                document.querySelectorAll('.uploadSheet').forEach(upload => {
                    upload.addEventListener('change', function () {
                        const songId = this.getAttribute('data-song-id');
                        console.log("Song ID:", songId); 
                        const file = this.files[0];
                        
                        if (file) {
                            // Display the uploaded image immediately in the browser
                            const fileURL = URL.createObjectURL(file);
                            const sheetsContainer = document.querySelector('.sheets');
                            
                            // Create a new sheet element
                            const newSheet = document.createElement('div');
                            newSheet.className = 'sheet-container';
                            newSheet.innerHTML = `
                                <div class="sheet-img" style="background-image: url('${fileURL}');"></div>
                                <i class="icon-sheet delete-sheet">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" id="delete-song" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg>
                                </i>
                            `;

                            sheetsContainer.appendChild(newSheet);

                            // Create a FormData object to send the file to the server
                            const formData = new FormData();
                            formData.append('file', file);
                            
                            // Send the file to the server via Fetch API
                            fetch(`/upload_sheet/${songId}`, {
                                method: 'POST',
                                body: formData,
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to upload sheet');
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Success:', data);
  
                            });
                        }
                    });
                });

                document.querySelectorAll('.delete-sheet').forEach(deleteIcon => {
                    deleteIcon.addEventListener('click', function () {
                        const sheetId = this.getAttribute('data-sheet-id');
                        
                        // Send a DELETE request to the server
                        fetch(`/delete_sheet/${sheetId}`, {
                            method: 'DELETE'
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to delete sheet');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Sheet deleted:', data);
                            // Remove the sheet container from the DOM
                            this.closest('.sheet-container').remove();
                        })
                        .catch(error => {
                            console.error('Error deleting sheet:', error);
                        });
                    });
                });

                
                document.querySelectorAll('.sheet-img').forEach((sheet) =>{
                    sheet.addEventListener('click', function(){
                        const focus = document.querySelector('.focused');
                        const pop = document.querySelector('.pop');
                        
                        focus.style.display = 'block';
                        pop.style.display = 'block';
                    })
                });
                
                document.querySelector('.pop').addEventListener('click', function(){
                    console.log('hahaha')
                    const focus = document.querySelector('.focused');
                    const pop = document.querySelector('.pop');
                    
                    if (focus.style.display == 'block'){
                        focus.style.display = 'none';
                        pop.style.display = 'none';
                    }
                }) 
            });


        </script>

    {% endblock %}